<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Id</key>
	<string>watasikei</string>
	<key>pw</key>
	<string>1234</string>
	<key>email</key>
	<string>watasikei@gmail.com</string>
</dict>
</plist>
